body {
    font-family: "Rubik", sans-serif;
}

.grid {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(30, 3.5rem);
    grid-template-rows: repeat(20, 1fr);
    box-shadow: 0px 0px 10px lightgray;
    /* border-radius: 10px; */
}

.btn1 {
    /* border: 1px solid; */
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 11;
}

.btn2 {
    /* border: 1px solid; */
    grid-column-start: 30;
    grid-column-end: 31;
    grid-row-start: 9;
    grid-row-end: 11;
}

.dots-box {
    display: flex;
    justify-content: center;
    grid-column-start: 10;
    grid-column-end: 22;
    grid-row-start: 20;
    grid-row-end: 21;
}

.dots {
    display: flex;
    gap: 0.25rem;
}

.dot-curr > * {
    stroke: black;
    fill: black;
}

.calendar {
    grid-column-start: 2;
    grid-column-end: 30;
    grid-row-start: 1;
    grid-row-end: 20;
}

.calendar-head {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 2rem);
}

.calendar-days {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 10rem);
}

.zoom {
    transition: transform .3s;
}

.zoom:hover {
    transform: scale(1.3);
}

.day-square {
    padding: 1rem;
}

.day-square:hover {
    background-color:rgb(245, 245, 245);
}

.tests-tag {
    background-color: rgb(255, 0, 0, 50%);
}

.homework-tag {
    background-color: rgb(255, 165, 0, 50%)
}

.tag {
    border-radius: 4px;
    width: fit-content;
    padding: 5px 7px;
}

input {
    border: 1px solid;
}

input[type="text"], input[type="password"] {
    padding: 0.5rem;
    width: 15rem;
}

select {
    border: 1px solid;
    padding: 0.5rem;
    width: 15rem;
}

.authorization {
    border: 1px solid;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btn {
    background-color: rgb(31, 169, 255);
    color: white;
    width: 15rem;
    padding: 0.5rem 0;
}

.btn:hover {
    background-color: rgb(30, 156, 235);
}

.typing-error {
    /* border: 1px solid; */
    height: 1.3rem;
    font-size: 0.8rem;
    color: crimson;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    box-shadow: 0px 0px 10px lightgray;
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.a {
    color: rgb(128, 127, 127);
}

.active {
    color: black;
}